//
//  Config.xcconfig
//  swift_tutorial
//
//  Created by 이승호 on 1/22/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_URL = ciszaukmnglepvqpulya.supabase.co
SUPABASE_KEY = sb_publishable_s_BMgLmH4w_8boe7SWq59Q_p9fLDEU-

