<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.ciracino88.swift-tutorial</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.supabase.swift-tutorial</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.740433128084-gkn8qeitl1f6vo2qpb0bd9oi1g48j0d5</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>740433128084-gkn8qeitl1f6vo2qpb0bd9oi1g48j0d5.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>"알림 설정을 위한 권한이 필요합니다."</string>
</dict>
</plist>
